@using System.Net
@using Microsoft.AspNetCore.Components.WebAssembly.Http
@using my_virtual_pets_class_library.DTO
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager;


<button @onclick="TestFunction">This is a button</button>


@code {
    
    protected async Task TestFunction()
    {
        Console.WriteLine("I AM HERE");
        string cookie = await JSRuntime.InvokeAsync<string>("getCookie");
        if (!string.IsNullOrEmpty(cookie))
        {
            Console.WriteLine(cookie);
            Http.DefaultRequestHeaders.Add("Cookie", $"my_virtual_pets_api={cookie}");
        } else
        {
            Console.WriteLine("COOKIE IS NULL");
        }
        var response = await Http.GetAsync("https://localhost:7091/api/user/auth"); 
        Console.WriteLine(response);
        if (!response.IsSuccessStatusCode)
         {
                NavigationManager.NavigateTo("/login"); 
         }
    }
        
  
    }


    
