@rendermode InteractiveServer

@using my_virtual_pets_class_library.DTO
@using my_virtual_pets_frontend.Components.AddPetComponents
@using my_virtual_pets_class_library.Enums
@using my_virtual_pets_frontend.Components.Icons

@page "/add-pet"

<div class="container">
    <h1 class="text-center mb-5">Add a Pet!</h1>
    <div class="">
        
    </div>
    @if (PetDetails == null)
    {
        <Loader />
    }
    else
    {
        <CascadingValue Value="PetDetails">
            <AddPetFormSwitcher />
        </CascadingValue>
    }
</div>


@code {
    AddPetDTO? PetDetails { get; set; }

    protected override void OnInitialized()
    {
        ResetPetDetails();
    }

    private void ResetPetDetails()
    {
        PetDetails = new AddPetDTO()
        {
            PetName = "",
            Description = "",
            ImageUrl = "",
            OwnerId = Guid.NewGuid(), // TODO: get correct guid
            Personality = Enum.GetValues(typeof(Personality)).Cast<Personality>().ToList()[0],
            PetType = PetType.OTHER
        };
    }
}