@using my_virtual_pets_class_library.DTO
@using my_virtual_pets_frontend.Components.AddPetComponents
@using my_virtual_pets_class_library.Enums
@using my_virtual_pets_frontend.Components.Icons
@inject NavigationManager NavMan;

@rendermode InteractiveServer

@page "/add-pet"

<PageTitle>Add a Pet | MyVirtualPets</PageTitle>

<div class="container">
    <h1 class="text-center mb-5">Add a Pet!</h1>
    @if (PetDetails == null)
    {
        <Loader />
    }
    else
    {
        <div id="formcenter">
            @if (PetDetails.ImageUrl != "")
            {
                <div class="d-flex justify-content-center">
                    <figure>
                        <img src="@PetDetails.ImageUrl" alt="" width="300" height="auto"/>
                        @* <img src="https://my-virtual-pets-images.s3.eu-west-2.amazonaws.com/66004fb9-98da-4ae7-bfd6-2bdcbd0aa9ae.png" alt="" width="300" height="auto"/> *@
                        <figcaption class="text-muted text-center mt-1"><i>Your new VirtualPet!</i></figcaption>
                    </figure>
                </div>
            }
            
            <CascadingValue Value="PetDetails">
                @if (!IsSuccessfulUpload)
                {
                    <UploadImageForm OnSuccessfulUpload=@SwitchToAddDetails></UploadImageForm>
                }
                else
                {
                    <AddPetDetailsForm OnSuccessfulPetPost="@RedirectToCollections"></AddPetDetailsForm>
                }
            </CascadingValue>
        </div>
    }
</div>


@code {
    [CascadingParameter] AddPetDTO? PetDetails { get; set; }
    
    public bool IsSuccessfulUpload { get; set; } = false;
    public bool IsSuccessfulPetPost { get; set; } = false;

    protected override void OnInitialized()
    {
        ResetPetDetails();
        IsSuccessfulUpload = false;
    }

    private void ResetPetDetails()
    {
        PetDetails = new AddPetDTO()
        {
            PetName = "",
            Description = "",
            ImageUrl = "",
            OwnerId = new Guid("f3922887-7fc2-447b-a08f-4fbbc663ba81"), // TODO: get guids programmatically (This is guid for FurryFriendFan)
            Personality = Enum.GetValues(typeof(Personality)).Cast<Personality>().ToList()[0],
            PetType = PetType.OTHER
        };
    }
    
    public void SwitchToAddDetails()
    {
        IsSuccessfulUpload = true;
    }

    public void RedirectToCollections()
    {
        IsSuccessfulPetPost = true;
        NavMan.NavigateTo("/collection"); // 🦇 Nana-nana-nana-nana-nana-nana-nana-nana NavMan! 🦸
    }
}