@page "/collection"
@using my_virtual_pets_class_library.Enums
<PageTitle>Collection | MyVirtualPets</PageTitle>

@if (_isLoggedIn)
{
    <div>
        <h3 class="mt-6">You're not logged in!</h3>
    </div>
}
else
{
    // TODO: show collection of pets
}

@code {
    private bool _isLoggedIn = false; //TODO: add auth checking
    
}