@page "/"
@page "/home"
@using my_virtual_pets_frontend.Components.LoginSignupComponents
@rendermode InteractiveServer

<PageTitle>Home | MyVirtualPets</PageTitle>
<div class="container">
    <h1 class="mt-5">/ᐠ - ˕ -マ Welcome to MyVirtualPets! ૮･ﻌ･ა</h1>
    <img src="cat_loader.gif" width="100px">
    <FormSwitcher></FormSwitcher>
</div>
