@page "/"
@using my_virtual_pets_class_library.DTO
@using my_virtual_pets_frontend.Components.Icons
@using my_virtual_pets_frontend.Components.HomeComponents
@inject AuthenticationStateProvider AuthState 
@rendermode InteractiveServer


<PageTitle>Home | MyVirtualPets</PageTitle>
<div class="fluid-container text-center"> 
    <div class="row home_row">
        <div class="col-sm-8">
            <h1 class="fw-bold">Create & Collect Cute Pixel Pets!</h1>
        </div>
    </div>
    <div class="row home_row">
        <div class="col-sm-8">
            <p class="para">
                Short description of the website selling you on it, telling you
                all about how much fun you're going to have on myvirtualpets
                how much fun we can have together woohoo hoo ohooo filler filler
                my virtual pets lots of fun great website good very 
            </p>
        </div>
    </div>











    @*<div id="carousel" style="width:600px">
        <h4 class="pixeltext">New to the Doghouse:</h4>
        @if (_petCardDataDTOs == null)
        {
            <Cat_Loader></Cat_Loader>
        }
        else
        {
            <HomeCarousel PetCardDataDTOs="@_petCardDataDTOs"></HomeCarousel>
        }
    </div>*@
</div>

@code {

    private List<PetCardDataDTO>? _petCardDataDTOs;

    protected override async Task OnInitializedAsync()
    {
        var getclient = new BackendClient<List<PetCardDataDTO>>($"api/pets/top10", AuthState);
        _petCardDataDTOs = await getclient.GetRequest();
    }

}
