@page "/"
@page "/home"
@using my_virtual_pets_class_library.DTO
@using my_virtual_pets_class_library.Enums
@using my_virtual_pets_frontend.Components.Icons
@using my_virtual_pets_frontend.Components.DisplayCards
@rendermode InteractiveServer


<PageTitle>Home | MyVirtualPets</PageTitle>
<div class="container">
    <h3 class="mt-5 pixeltext">build your pet collection now</h3>


    <div id="carousel" style="width:600px">
        <h4 class="pixeltext">New to the Doghouse:</h4>
        @if (_petCardDataDTOs == null || _petCardDataDTOs.Count == 0)
        {
            <Cat_Loader></Cat_Loader>
        }
        else
        {
            <Carousel Autoplay="CarouselAutoPlay.StartOnPageLoad" Interval="1000">
                <CarouselItem Active="true">
                    <LeadershipCard petCard="_petCardDataDTOs[0]"></LeadershipCard>
                </CarouselItem>
                @foreach (var card in _petCardDataDTOs.Skip(1))
                {
                    <CarouselItem>
                        <LeadershipCard petCard="card"></LeadershipCard>
                    </CarouselItem>
                }
            </Carousel>

        }

    </div>
    
</div>

@code {

    private List<PetCardDataDTO> _petCardDataDTOs = new List<PetCardDataDTO>();

    protected override async Task OnInitializedAsync()
    {
        var getclient = new BackendClient<List<PetCardDataDTO>>($"api/pets/top10");
        _petCardDataDTOs = await getclient.GetRequest();
    }

}
