@page "/"
@page "/home"
@using my_virtual_pets_frontend.Components.LoginSignupComponents
@rendermode InteractiveServer

<PageTitle>Home | MyVirtualPets</PageTitle>
<div class="container">
    <h1 class="mt-5">/ᐠ - ˕ -マ Welcome to MyVirtualPets! ૮･ﻌ･ა</h1>
    <p class="lead">At auctor urna nunc id cursus. Quis viverra nibh cras pulvinar mattis. </p>
    <br/>
    <p>Sit amet cursus sit amet dictum sit amet justo donec enim diam vulputate ut pharetra sit amet aliquam id. Chicory decafe body roast café au lait macchiato americano cortado instant cinnamon organic. Etiam erat velit scelerisque in dictum. Purus semper eget duis at tellus at urna condimentum mattis pellentesque id nibh tortor id aliquet.</p>

    <FormSwitcher></FormSwitcher>
</div>
