@page "/"
@using my_virtual_pets_class_library.DTO
@using my_virtual_pets_frontend.Components.Icons
@using my_virtual_pets_frontend.Components.HomeComponents
@inject AuthenticationStateProvider AuthState 
@rendermode InteractiveServer


<PageTitle>Home | MyVirtualPets</PageTitle>
<div class="container">
    <h3 class="mt-5 pixeltext">build your pet collection now</h3>
    <div id="carousel" style="width:600px">
        <h4 class="pixeltext">New to the Doghouse:</h4>
        @if (_petCardDataDTOs == null)
        {
            <Cat_Loader></Cat_Loader>
        }
        else
        {
            <HomeCarousel PetCardDataDTOs="@_petCardDataDTOs"></HomeCarousel>
        }
    </div>
</div>

@code {

    private List<PetCardDataDTO>? _petCardDataDTOs;

    protected override async Task OnInitializedAsync()
    {
        var getclient = new BackendClient<List<PetCardDataDTO>>($"api/pets/top10", AuthState);
        _petCardDataDTOs = await getclient.GetRequest();
    }

}
