@page "/"
@page "/home"

<PageTitle>Home | MyVirtualPets</PageTitle>
<div class="home-welcome-content-container">
    <h1 class="home-welcome-title">/ᐠ - ˕ -マ Welcome to MyVirtualPets! ૮･ﻌ･ა</h1>
    <div class="home-welcome-content">
        <p>At auctor urna nunc id cursus. Quis viverra nibh cras pulvinar mattis. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper eget duis at. Drip method earthiness flavor latte portafilter pour-over siphon pot specialty tamper trifecta. Amet dictum sit amet justo donec enim diam vulputate ut pharetra sit.</p>
        <br/>
        <p>Sit amet cursus sit amet dictum sit amet justo donec enim diam vulputate ut pharetra sit amet aliquam id. Chicory decafe body roast café au lait macchiato americano cortado instant cinnamon organic. Etiam erat velit scelerisque in dictum. Purus semper eget duis at tellus at urna condimentum mattis pellentesque id nibh tortor id aliquet.</p>
    </div>
</div>

