@page "/"
@page "/home"
@using my_virtual_pets_frontend.Components.Icons
@using my_virtual_pets_frontend.Client.Components
@rendermode InteractiveServer

<PageTitle>Home | MyVirtualPets</PageTitle>
<div class="container">
    <h3 class="mt-5 pixeltext">take that doggo home with you</h3>
    <Cat_Loader></Cat_Loader>

    <LoginForm></LoginForm>
</div>
