@page "/"
@using my_virtual_pets_class_library.DTO
@using my_virtual_pets_frontend.Components.Icons
@using my_virtual_pets_frontend.Components.HomeComponents
@inject AuthenticationStateProvider AuthState 
@rendermode InteractiveServer


<PageTitle>Home | MyVirtualPets</PageTitle>
<div class="fluid-container text-center"> 
    <div class="row home_row">
        <div class="col-sm-8">
            <h1 class="fw-bold">Create & Collect Cute Pixel Pets!</h1>
        </div>
    </div>
    <div class="row home_row">
        <div class="col-sm-8">
            <p class="para">
                GeeksForGeeks is a Computer Science portal
                for geeks.It contains well written, well
                thought articles. This platform has been designed
                for every geek wishing to expand their knowledge,
                share their knowledge and is ready to grab their
                dream job. We have millions of articles, live as
                well as online courses, thousands of tutorials and
                much more just for the geek inside you.
            </p>
        </div>
    </div>











    @*<div id="carousel" style="width:600px">
        <h4 class="pixeltext">New to the Doghouse:</h4>
        @if (_petCardDataDTOs == null)
        {
            <Cat_Loader></Cat_Loader>
        }
        else
        {
            <HomeCarousel PetCardDataDTOs="@_petCardDataDTOs"></HomeCarousel>
        }
    </div>*@
</div>

@code {

    private List<PetCardDataDTO>? _petCardDataDTOs;

    protected override async Task OnInitializedAsync()
    {
        var getclient = new BackendClient<List<PetCardDataDTO>>($"api/pets/top10", AuthState);
        _petCardDataDTOs = await getclient.GetRequest();
    }

}
