@page "/"
@page "/home"
@using my_virtual_pets_class_library.DTO
@using my_virtual_pets_frontend.Components.Icons
@using my_virtual_pets_frontend.Components.HomeComponents
@inject NavigationManager NavMan
@using System.Security.Claims
@inject AuthenticationStateProvider AuthStateProvider
@rendermode InteractiveServer


<PageTitle>Home | MyVirtualPets</PageTitle>
<div class="fluid-container text-center">
    <!-- heading for home page --->
    <div class="row home_row">
        <div class="col head-col">
            <h1 class="fw-bold home_title">Create & Collect Cute Pixel Pets!</h1>
        </div>
    </div>
    
    <div class="row home_row">
        <div class="col sales-col">
            <!-- sales pitch --->
            <p class="para">
                Want a pet but your landlord won't let you? Or maybe your boyfriend's allergic
                or you've already killed three peace lilies this week. Welcome to My-Virtual_Pets. 
                Your online pet collection.
            </p>

            <!-- call to action --->
            <div id="cta-btn-container">
                <button @onclick="HandleGetStarted" class="btn">Get Started!</button>
            </div>
        </div>
    </div>
    
    <!-- "how to" -->
    <div class="row home_row">
        <div class="col-12">
            <h2 class="pixeltext">How To</h2>
        </div>
        <div class="row img-container">
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                <img src="images/add-pet-1.png" alt="Upload an animal picture" class="img-fluid"/>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                <img src="images/add-pet-2.png" alt="Add details about your pet" class="img-fluid"/>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                <img src="images/add-pet-3.png" alt="Explore your collection or add more" class="img-fluid"/>
            </div>
        </div>
    </div>
    
    <!-- carousel --->
    <div class="row home_row">
        <div class="col-12">
            <h2 class="pixeltext">Recently Created</h2>
        </div>
        @if (_petCardDataDTOs == null)
        {
            <div class="col carousel-col">
                <Cat_Loader></Cat_Loader>
            </div>
        }
        else
        {
            <div class="col-12 col-md-9 col-xl-7 carousel-col">
                <CascadingValue Value="FavouriteList">
                <HomeCarousel PetCardDataDTOs="@_petCardDataDTOs"></HomeCarousel>
                </CascadingValue>
            </div>
        }
    </div>
</div>

@code {
    private List<PetCardDataDTO>? _petCardDataDTOs;
    
    public List<Guid> FavouriteList { get; set; } = new List<Guid>(); 

    protected override async Task OnInitializedAsync()
    {
        var getclient = new BackendClient<List<PetCardDataDTO>>($"api/pets/top10", AuthStateProvider);
        _petCardDataDTOs = await getclient.GetRequest();
        var user = (await AuthStateProvider.GetAuthenticationStateAsync()).User;
        var UserId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        if (UserId != null)
        {   
            var getListClient = new BackendClient<List<Guid>>($"api/user/{UserId}/FavouritePetIds", AuthStateProvider);
            FavouriteList = await getListClient.GetRequest(); 
        }
    }


    private void HandleGetStarted()
    {
        NavMan.NavigateTo("/add-pet"); // where should we send them to? Add pet or login/register?
    }
}
