@page "/leaderboard"
@using System.Security.Claims
@using my_virtual_pets_class_library.DTO
@using my_virtual_pets_class_library.Enums
@using my_virtual_pets_frontend.Components.Icons
@using my_virtual_pets_frontend.Components.DisplayCards
@inject AuthenticationStateProvider AuthStateProvider
@rendermode InteractiveAuto


<PageTitle>Leaderboard | MyVirtualPets</PageTitle>


@if (pets == null || pets.Count < 4)
{
    <Cat_Loader></Cat_Loader>
}
else
{
    <CascadingValue Value="FavouriteList">

    <!----- Top Three  ---->

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
            </div>
            <div class="leader col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <LeadershipCard petCard="pets[0]" index="1"></LeadershipCard>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
            </div>
        </div>
        <div class="row">
            <div class="leader col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <LeadershipCard petCard="pets[1]" index="2"></LeadershipCard>
            </div>
            <div class="leader col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <LeadershipCard petCard="pets[3]" index="3"></LeadershipCard>
            </div>
        </div>
    
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
            </div>
            <div class="leader col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <h4 class="pixeltext text-center">Runners-Up:</h4>
                </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
            </div>
        </div>
        
    </div>
    
    

    <!----- Runners Up -----> 

<div class="container">
        @foreach (var pet in pets.Skip(3))
        {
            <div class="row">
                <div class="runner-up col pixeltext">

                    <RunnersUpCard petdisplay="pet"></RunnersUpCard>

                </div>
            </div> 
        }
        
</div>
    </CascadingValue>

}


@code {
    
    public List<PetCardDataDTO> pets = new List<PetCardDataDTO>();
    
    public List<Guid> FavouriteList { get; set; } = new List<Guid>(); 
    
    protected override async Task OnInitializedAsync()
    {
        var getclient = new BackendClient<List<PetCardDataDTO>>("api/pets/top10");
        pets = await getclient.GetRequest(); 
        var user = (await AuthStateProvider.GetAuthenticationStateAsync()).User;
        var UserId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        if (UserId != null)
        {   
            var getListClient = new BackendClient<List<Guid>>($"api/user/{UserId}/FavouritePetIds");
            FavouriteList = await getListClient.GetRequest(); 
            Console.WriteLine("FAOURITED LIST");
            Console.WriteLine("FAOURITED LIST" + FavouriteList[0]);
        }


    }

}