@page "/leaderboard"
@using my_virtual_pets_class_library.DTO
@using my_virtual_pets_class_library.Enums
@using my_virtual_pets_frontend.Components.Icons
@using my_virtual_pets_frontend.Components.DisplayCards

<PageTitle>Leaderboard | MyVirtualPets</PageTitle>


@if (pets == null || pets.Count == 0)
{
    <Cat_Loader></Cat_Loader>
}
else
{
    
    <!----- Top Three things here ---->

    <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
        </div>
        <div class="leader col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <LeadershipCard petCard="pets[0]" index="1"></LeadershipCard>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
        </div>
    </div>
    <div class="row">
        <div class="leader col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <LeadershipCard petCard="pets[1]" index="2"></LeadershipCard>
        </div>
        <div class="leader col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <LeadershipCard petCard="pets[3]" index="3"></LeadershipCard>
        </div>
    </div>
    
</div>

    
    
<!----- Change to virtualise? ---->


<div class="container">
        @foreach (var pet in pets.Skip(3))
        {
            <div class="row">
                <div class="runner-up col pixeltext">
                    <RunnersUpCard petdisplay="pet"></RunnersUpCard>
                </div>
            </div> 
        }
</div>

}


@code {
    
    public List<PetCardDataDTO> pets = new List<PetCardDataDTO>();
    
    public PetCardDataDTO testPet = new PetCardDataDTO()
    {
        PetId = new Guid(),
        PetName = "jok",
        Description = "",
        IsFavourited = true,
        PetType = PetType.CAT,
        ImageUrl = "https://my-virtual-pets-images.s3.eu-west-2.amazonaws.com/5e0fe0be-ca81-4b76-b4bf-349a1bf215c8.png",
        Score = 100,
        OwnerUsername = "Jonny",
        Personality = Personality.SERIOUS
    };

    // on page initialised we'll call the backend instead: 
    
    protected override void OnInitialized()
    {
        for (int i = 0; i < 10; i++)
        {
            pets.Add(testPet);
        }
    }

}