@page "/login"
@using my_virtual_pets_frontend.Components.LoginSignupComponents
@rendermode InteractiveAuto

<PageTitle>Login</PageTitle>

<div class="container">
    <FormSwitcher></FormSwitcher>
</div>
