@page "/log-in"
@using my_virtual_pets_frontend.Components.LoginSignupComponents
@rendermode InteractiveServer

<div class="container">
    <AuthorizeView>
        <NotAuthorized>
            <PageTitle>log in | my-virtual-pets</PageTitle>
            <CascadingValue Value="Refresh">
                <LoginSignupFormSwitcher></LoginSignupFormSwitcher>
            </CascadingValue>
        </NotAuthorized>
        <Authorized>
            <PageTitle>already logged in! | my-virtual-pets</PageTitle>
            <div class="container text-center">
                <h1 class="page-title">you're already logged in!</h1>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

@code {

    public bool Refresh { get; set; } = false; 

}