@page "/log-in"
@using my_virtual_pets_frontend.Components.LoginSignupComponents
@rendermode InteractiveServer

<PageTitle>Log In</PageTitle>

<div class="container">
    <CascadingValue Value="Refresh">
    <LoginSignupFormSwitcher></LoginSignupFormSwitcher>
    </CascadingValue>
</div>

@code {

    public bool Refresh { get; set; } = false; 

}