@page "/login"
@using my_virtual_pets_frontend.Components.LoginSignupComponents
@rendermode InteractiveServer

<PageTitle>Login</PageTitle>

<div class="container">
    <CascadingValue Value="Refresh">
    <FormSwitcher></FormSwitcher>
    </CascadingValue>
</div>

@code {

    public bool Refresh { get; set; } = false; 

}