@page "/test"
@using System.Net
@inject NavigationManager NavMan 
@inject HttpClient Http 
@rendermode InteractiveServer


<h1>This is a test</h1>


<button @onclick="LoginWithGoogle">Log in with Google</button>


@code {

    public async Task LoginWithGoogle()
    {
        // var response = await Http.GetAsync("https://localhost:7091/login-google");
        //
        // // var result = await response.Content.ReadFromJsonAsync<TokenResponse>();
        // //
        
        NavMan.NavigateTo("https://localhost:7091/login-google", forceLoad: true);
    }
    

}