<div class="row d-flex align-items-center">
    <div class="col-auto">
        <span class="text-nowrap">pet me?</span>
    </div>
    <div class="col-auto">
        <img style="cursor: pointer" src="/images/outline_paw.svg" width="40px">
    </div>
</div>

