<div class="row d-flex align-items-center">
    <div class="col-auto">
        <span class="text-nowrap">Petted!</span>
    </div>
    <div class="col-auto">
        <img style="cursor: pointer" src="/images/filled_paw.svg" width="40px">
    </div>
</div>


