@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>
<main class="flex-shrink-0" style="overflow-y: scroll">
    @Body
</main>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="text-center">MyVirtualPets: Submarine 2025</div>
    </div>
</footer>

