@using Microsoft.AspNetCore.Components.Authorization
@using my_virtual_pets_frontend.Components.NavBar
@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>
<main class="flex-shrink-0">
    @Body
</main>
<footer class="footer py-3 d-flex justify-content-center align-items-center">
    <p>© Vibes and Ambition 2025</p>
</footer>   

