@inherits LayoutComponentBase
<div class="page-container">
    <NavMenu />
    @Body
    <footer>
        <div class="footer-content-container">
            <p><em>MyVirtualPets 2025</em></p>
        </div>
    </footer>
</div>


