@using my_virtual_pets_frontend.Components.Icons
@using System.Security.Claims
@using my_virtual_pets_class_library.DTO
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation


<div @onclick="Pet">
@if (IsPet)
{
    <Paw_svg></Paw_svg>
}
else
{
    <OutlinePaw_svg></OutlinePaw_svg>
}
</div>

@code {
    
    [Parameter]
    public Guid PetId { get; set; }
    
    private string UserId;
    
    public bool IsPet { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthStateProvider.GetAuthenticationStateAsync()).User;
        UserId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    }

    // then check if this is a favourited pet by id by that user? 
    
    public void Pet()
    {
        IsPet = !IsPet;
        if (IsPet)
        {
            DoPet(); 
        }
        else
        {
            UnPet(); 
        }
    }

    public async Task DoPet()
    {
        if (UserId == null)
        {
            Navigation.NavigateTo("/login");
        }
        var client = new BackendClient<Favourites>($"api/User/AddToFavourites");
        client.PostRequest(new Favourites { GlobalUserId = Guid.Parse(UserId), PetId = PetId });
    }

    public async Task UnPet()
    {
        if (UserId == null)
        {
            Navigation.NavigateTo("/login");
        }
        var client = new BackendClient<Favourites>($"api/User/{UserId}/RemoveFromFavourites/{PetId}");
        client.DeleteRequest();
    }
    
    
}