@using my_virtual_pets_frontend.Components.Icons

<div @onclick="Pet">
@if (IsPet)
{
    <Paw_svg></Paw_svg>
}
else
{
    <OutlinePaw_svg></OutlinePaw_svg>
}
</div>

@code {
    
    [Parameter]
    public Guid PetId { get; set; }
    
    public bool IsPet { get; set; } = false;
    
    public void Pet()
    {
        IsPet = !IsPet;
        if (IsPet)
        {
            DoPet(); 
        }
        else
        {
            UnPet(); 
        }
    }

    public async Task DoPet()
    {
        var client = new BackendClient<int>("api/user");
        throw new NotImplementedException();
        
    }

    public async Task UnPet()
    {
        throw new NotImplementedException();
    }
    
    
}