@rendermode InteractiveAuto

<nav class="navbar navbar-expand-md p-2">
    <div class="container-fluid">
        <a class="pixeltext fw-bold navbar-brand" href="/">MyVirtualPets</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/leaderboard" Match=@NavLinkMatch.All>
                        <span class="oi oi-plus" aria-hidden="true"></span> Leaderboard
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/collection" Match=@NavLinkMatch.All>
                        <span class="oi oi-plus" aria-hidden="true"></span> Collection
                    </NavLink>
                </li>
                
                <AuthorizeView>
                <Authorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/my-account" Match=@NavLinkMatch.All>
                        <span class="oi oi-plus" aria-hidden="true"></span> My Account
                    </NavLink>
                </li>
                </Authorized>
                <NotAuthorized>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/login" Match=@NavLinkMatch.All>
                        <span class="oi oi-plus" aria-hidden="true"></span> Log In
                    </NavLink>
                </li>
                </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}