<div class="card w-25">
    <img class="card-img-top" src="https://my-virtual-pets-images.s3.eu-west-2.amazonaws.com/testimage.png" alt="Pet card image top"/>
    <div class="card-body">
        <h5 class="card-title">Cute Dog Name</h5>
        <h6 class="card-subtitle text-muted">$"{Personality} {PetType}"</h6>
        <p class="card-text">Description of the dog yabba woohoo filling space to type out to see what things look like veggies cheese beans rice beans rhinoceros!</p>
    </div>
    </div>

@code {
    
}