@using my_virtual_pets_frontend.Components.Pages
<div class="card w-25">
    <img class="card-img-top" src="https://my-virtual-pets-images.s3.eu-west-2.amazonaws.com/testimage.png" alt="Pet card image top"/>
    <div class="card-body">
        <h5 class="card-title">@DummyPet.Name</h5>
        <h6 class="card-subtitle text-muted">@DummyPet.Personality @DummyPet.PetType</h6>
        <p class="card-text">@DummyPet.Description</p>
    </div>
</div>

@code {
    [Parameter] public required Collection.DummyPet DummyPet { get; set; }
}