@using my_virtual_pets_class_library.DTO



<div class="container">
        <div class="row">
            <div class="col">
                Name: @petdisplay.PetName
            </div>
            <div class="col">
                Personality: @petdisplay.Personality
            </div>
            <div class="col">
                Owner: @petdisplay.OwnerUsername
            </div>
            <div class="col">
               Animal: @petdisplay.PetType
            </div>
        </div>
</div>


@code {
    
    [Parameter]
    public PetCardDataDTO petdisplay { get; set; }
    
}