@using my_virtual_pets_frontend.Client.Components

<div id="formcenter" class="robottext" style="margin-left:auto;margin-right:auto;width:400px;height:100%;">
<a style="cursor: pointer" @onclick="ToggleForm">@(IsUser ?  SwitchText[0] : SwitchText[1])</a>
    @if (IsUser)
    {
          <LoginForm></LoginForm>
    }
    else
    {
            <SignupForm></SignupForm>
    }
</div>

@code{
    public static string[] SwitchText = ["New here? Register now! →", "Been here before? Login! →"];

    public bool IsUser { get; set; } = true; 
    
    public void ToggleForm()
    {
        IsUser = !IsUser;
    }
    
}