@rendermode InteractiveServer
<h1 class="page-title text-center">@(IsUser ? "Log In" : "Sign Up")</h1>
<div id="formcenter" class="robottext" style="margin-left:auto;margin-right:auto;width:600px;height:100%;">
    @if (IsUser)
    {
          <LoginForm></LoginForm>
    }
    else
    {
            <SignupForm></SignupForm>
    }
    <a style="cursor: pointer; font-size: 12px; margin-top: 20px;" @onclick="ToggleForm">@(IsUser ?  SwitchText[0] : SwitchText[1])</a>
</div>

@code{
    public static string[] SwitchText = ["New here? Register now! →", "Been here before? Log in! →"];

    public bool IsUser { get; set; } = true; 
    
    public void ToggleForm()
    {
        IsUser = !IsUser;
    }
    
}