@rendermode InteractiveServer
<h1 class="page-title text-center">@(IsUser ? "log in" : "sign up")</h1>
<div id="formcenter" class="robottext">
    @if (IsUser)
    {
          <LoginForm OnLogInProcessing="HandleLoading" OnLogInFailed="HandleLogInFailed"></LoginForm>
    }
    else
    {
          <SignupForm OnSignUpProcessing="HandleLoading"></SignupForm>
    }
    <div class="@(IsLoading ? "" : "link-container mt-4")">
        <a @onclick="ToggleForm">
            @(IsLoading
                ? ""
                : IsUser
                    ? "new? sign up now!"
                    : "been here before? log in now!")
        </a>
    </div>
</div>

@code{
    
    [Parameter] public EventCallback<bool> OnLoggingIn { get; set; }
    [Parameter] public EventCallback<bool> OnLoggingInFailed { get; set; }
    
    public bool IsUser { get; set; } = true;
    private bool IsLoading { get; set; } = false;

    public void ToggleForm()
    {
        IsUser = !IsUser;
    }

    public void HandleLoading()
    {
        IsLoading = true;
    }

    public void HandleLogInFailed()
    {
        IsLoading = false;
    }

}