@rendermode InteractiveServer
<h1 class="page-title text-center">@(IsUser ? "Log In" : "Sign Up")</h1>
<div id="formcenter" class="robottext" style="margin-left:auto;margin-right:auto;width:600px;height:100%;">
    @if (IsUser)
    {
          <LoginForm></LoginForm>
    }
    else
    {
          <SignupForm OnSignUpProcessing="HandleRedirectToAddPet"></SignupForm>
    }
    <div class="@(IsRedirectingToAddPet ? "" : "link-container mt-4")">
        <a @onclick="ToggleForm">
            @(IsRedirectingToAddPet
                ? ""
                : IsUser
                    ? "New? Sign up now!"
                    : "Been here before? Log in now!")
        </a>
    </div>
</div>

@code{
    public bool IsUser { get; set; } = true;
    private bool IsRedirectingToAddPet { get; set; } = false;
    
    public void ToggleForm()
    {
        IsUser = !IsUser;
    }

    public void HandleRedirectToAddPet()
    {
        IsRedirectingToAddPet = true;
    }
}