@using my_virtual_pets_class_library.DTO
@using my_virtual_pets_frontend.Components.IsPetted
@rendermode InteractiveServer


<div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <p>Name: @petdisplay.PetName</p>
                <p>Owner: @petdisplay.OwnerUsername </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <p>Personality: @petdisplay.Personality </p>
                <p>Type: @petdisplay.PetType </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <IsPetted petCard="petdisplay"></IsPetted>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div id="popupmain">
                    <PopupCard @ref="popupRef" petCard="petdisplay"/>
                </div>
                <button @onclick="PopupCall" style="margin-left:auto;margin-right:auto;height:60px;width:60px">View</button>
            </div>
        </div>
</div>


@code {
    
    [Parameter]
    public PetCardDataDTO petdisplay { get; set; }
    
    public PopupCard popupRef { get; set; }

    private void PopupCall()
    {
        popupRef.Show();
    }

    
}