@font-face {
    font-family: "Pixelify_Sans";
    src: url("./fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto_Mono";
    src: url("./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main > .container {
    padding: 60px 15px 0;
}


body {
    background: #FDCFD7;
    font-family: "Roboto_Mono", serif;
}

html, body {
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;
}

.pixeltext {
    font-family: "Pixelify_Sans", serif;
}

.robottext {
    font-family: "Roboto_Mono", serif;
}

h1,
h1:focus {
    outline: none;
    font-family: "Pixelify_Sans", serif;
}

.valid.modified:not([type=checkbox]) {
    border-color: #26b050;
}

.invalid {
    border-color: #e50000 !important;
}

.validation-message {
    color: #e50000;
}


.award {
    color: #141514;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -50px;
    margin-left: -65px;
    z-index: 1000;
}

.leadercard {
    margin: 20px;
    border: 20px groove #D18BE0;
    border-radius: 25px;
    background-color:  #fefedf;
    position: relative;
}


.leadercard:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 4px #141514;
}

.leaderimage {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
}

.leaderstats {
    border: 1px dashed black;
    box-shadow: 2px 2px 2px #141514;
    border-radius: 25px;
    margin: 10px; 
    height: 230px;
    flex-direction: column;
    padding-top: 10px; 
    padding-left: 32px;
}

.leaderstats p {
    text-wrap: wrap;
}


.purple {
    background-color: #82578c;
}

.runner-up {
    margin: 20px;
    border: 5px dashed #fefedf;
    border-radius: 5px;
    background-color:  #D18BE0;
    position: relative;
    padding: 10px;
}



.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.form-control,
.form-select {
    border: 0.15rem dashed black;
}

.form-control:focus,
.form-control:focus {
    box-shadow: none;
}

.btn {
    border: 0.15rem dashed #82578c;
}

.btn:hover {
    border-color: #D18BE0;
    border-style: dashed;
    background-color: white;
}


#popupcard {
    position: absolute;
    z-index: 3000;
    width: 400px;
}

#popupboard {
    border: 1px dashed #D18BE0;
    background-color:  #fefedf;
}

#popuptext {
    border: 1px dashed black;
}

#popupimage {
    border: 1px dotted black;

}

#formcenter {
    margin-bottom: 15px;
    padding: 25px;
    border: 10px dashed #82578c;
    border-radius: 25px;
    background-color: #fefedf;
}


#formcenter a {
    font-style: italic;
    font-size: 10px;
    color: slategrey;
    text-decoration: underline;
}

.input {
    margin-top: 20px;
    margin-bottom: 20px;

}

.delete {
    cursor: pointer;
    position: absolute; 
    right: 10px; 
    top: 0px;
}

#trash:hover {
    color: #82578c;
}

.collectioncard {
    border-radius: 25px;
    margin: 40px;
    border: 5px dashed #D18BE0;
    background-color: #fefedf;
    position: relative;
    padding: 10px;
}

#popupdelete {
    position: absolute;
    z-index: 3000;
}


.navItem .active span {
    color: whitesmoke;
}