@font-face {
    font-family: "Pixelify_Sans";
    src: url("./fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto_Mono";
    src: url("./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}



*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main > .container {
    padding: 60px 15px 0;
}


body {
    background: #FDCFD7;
    font-family: "Roboto_Mono", serif;
}

.pixeltext {
    font-family: "Pixelify_Sans", serif;
}

h1:focus {
    outline: none;
    font-family: "Pixelify_Sans", serif;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

#formcenter {
    padding: 10px;
    border: 1px double #ccc;
    border-radius: 25px;
    width: 475px;
    margin-top: 10%; 
    margin-left: 33%;
}

#formcenter:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 2px #c404c4;
}

#formcenter a {
    font-style: italic;
    font-size: 10px;
    color: #c404c4;
    text-decoration: underline;
}

.award {
    color: #141514;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -50px;
    margin-left: -65px;
    z-index: 1000;
}

.leadercard {
    margin: 20px;
    border: 20px groove #D18BE0;
    border-radius: 25px;
    background-color:  #fefedf;
    position: relative;
}


.leadercard:hover {
    transform: scale(1.01);    
    box-shadow: 2px 2px 2px #141514;
}

.leaderimage {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
}

.leaderstats {
    border: 1px dashed black;
    box-shadow: 2px 2px 2px #141514;
    border-radius: 25px;
    margin: 10px; 
    height: 175px;
    flex-direction: column;
    padding: 10px;
}

.leaderstats p {
    text-wrap: wrap;
    margin-left: 22px;
}


.purple {
    background-color: #82578c;
}

.runner-up {
    margin: 20px;
    border: 5px dashed #fefedf;
    border-radius: 5px;
    background-color:  #D18BE0;
    position: relative;
    padding: 10px;
}

.runner-up:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 2px #141514;
}