*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

p {
    margin: 0 auto;
    max-width: 60ch;
}

h1 {
    margin: 1rem;
    font-size: 2.5rem;
    text-align: center;
}

.footer-content-container {
    text-align: center;
    background: #DCE1E9;
    color: #363732;
    margin: 1rem 0;
    padding: 0.6rem;
}

h1:focus {
    outline: none;
}

.home-welcome-title {
    text-align: center;
}

.home-welcome-content {
    margin: 0.5rem;
    padding: 1rem;
    text-align: left;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}