<div id="formcenter">
    @if (!IsSuccessfulUpload)
    {
        <UploadImageForm></UploadImageForm>
    }
    else
    {
        <AddPetDetailsForm></AddPetDetailsForm>
    }
</div>

@code{

    public bool IsSuccessfulUpload { get; set; } = false; 
    
    public void ToggleForm()
    {
        IsSuccessfulUpload = !IsSuccessfulUpload;
    }
    
}