@page "/login"
@using my_virtual_pets_frontend.Client.Components
@rendermode InteractiveWebAssembly

<PageTitle>Login</PageTitle>

<div class="container">
    <LoginForm @rendermode="InteractiveWebAssembly"></LoginForm>
    <AuthForm @rendermode="InteractiveWebAssembly"></AuthForm>
</div>